*{
	font-family: museo-sans, Roboto, "Helvetica Neue", Arial, sans-serif;
	margin:0px;
	padding: 0px;
} 
/* estilos header */
h1{
	margin-top: 25px;
	float: center;
}
header{
		background-color: #FFE521;
	width: 100%;
	position: fixed;
	height: 70px;
	text-align: center;	
	color: rgba(0, 0, 0, 0.87);
	height: 70px;
	box-sizing: border-box;
	background-color: #FFE521	
	}
header .btn-menu{
		display: none;
	 width: 40px;
	 height: 50px;
	 padding: 10px;
	 margin-left:2px;
	 margin-top: 0px;
	 border-right: 1px solid rgba(0, 0, 0, 0.3);
}
header label:hover{
	 cursor: pointer;
	 background: rgba(0, 0, 0, 0.3);
 
} 	
/* estilos nav */	
nav{
	position: fixed;
	width: 250px;
	height: 100%;
	background-color: #FFE521;
	border-right: solid 1px gray;
	border-top: solid 1px gray;
}
ul{
	list-style: none;
	display: block;
	padding: 0;
}
.li-menu{
	text-align: left; 
	width: 100%;
	height:70px;
	border-bottom: 1px solid gray;
	opacity: 1.5;
	overflow: hidden;
	display:block;
}
.profile{ 
	border-top: 1px solid gray;
  background-color: #fafafa;
  height: 70px;
}
p.parrafo{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float: center;
	color: #2b2b2b;
	opacity: 1.2;
	font-size: 1.2em;
	transition: opacity .2s;	
}
.logo {
	float: center;
	width: 200px;
  height: 55px;
  margin:  7.5px 25px;
	color: #000000;
	opacity: 5.5;
	text-align: center;
}
.li-logo{
  background-color: white;
  height: 70px;
}

.li-menu:hover {
	cursor: pointer;
	width:100%;
	background-color:  rgba(0,0,0,0.3); 
}

/* clase para elementos q estaran ocultos */
.hidden{
	display: none;
 }
 /* estilos para el contenedor de selectores */
.form-selectores{
	margin-left:  250px;
	padding-left: 2px;
	height: 285px;
	background-color: #E8F6F3;
	padding-top: 85px;

}
.container-select	{
	margin: 5px;
	height: 60px;
	display: block;
	width: 100%;
}
/* estilos al selector de orden */
.select-cohorts, #select-order {
	margin: 0% auto;
	height: 4em;
	width: 50%;
	border-radius:10px;
	border-color: #F2F3F4 ;
	line-height: 145%;
	background-color: #FBFCFC;
	}
	.order-direction{
		margin: 5px;
	}
	
/* estilos al buscador de esytudiantes */
input#buscador{
	width:70%;
	height:3em;
	border-radius: 10px;
	background-color:#FFE521;
	/* margin: 10px; */
	outline: none;
	border: 0px;
	color: white;
	font-size: 1.2em;
	text-align: right;
	padding-right:15px;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	-webkit-transition: background-position .2s;
}
input#buscador:focus{
	background-position: 3000px 15px;
}
::-webkit-input-placeholder{
	color: #2b2b2b;
	text-align: right;
	opacity: 2.5;
}
 #buscador:hover{
	opacity: 1.;
	background-color: rgba(0,0,0,0.3);
} 
/* estilos para el contenedor de los divs de ususarios */
  .container-profiles-users{
	width: 100%;
	margin-left:  250px;
	}
	/* divs ususarios */
  .div-user{
	display: inline-block;
	background-color: #EBF5FB;
	width: 25%;
	height: 150px;
	border-style: none;
	border-color:  #0D47A1    ;
	color: #2b2b2b;
	margin: 10px;
	padding: 5px;
	box-sizing: border-box;
	font-size: 10px;
	flex: 1;
  }
	@media(max-width: 1100px){
		.form-selectores{
			height: 220px;
		}
	 }
  @media(max-width: 728px){
h1{
	margin-top: 0;
	padding-top: 15px;
	padding-left:  60px;
}		
body {
		margin-top: 0 ;
		padding: 0;
	}
	header{
			padding: 0px ;
			position: static;
			margin: 0 0;
	}
	
	header label.btn-menu {
		display: block;
		margin-top: -50px;
	}
	nav{
	  background: #FFE521;
	  width: 60%;
	  height: 100%;
	  margin-left: -70%;
	  transition: all 0.5s;
	}
	.btn-menu:checked ~ nav{
		margin: 0;
		margin-top: -2px;
	}
	.form-selectores {
		width: 100%;
		margin-left: 0;
		padding-top: 15px; 
  }
  .container-profiles-users{
		width: 100%;
    margin-left: 0;
    margin: 0;
	}
  }
  
	@media(max-width: 400px){
nav{
	width: 100%;
	margin-left: -450px;
}
.btn-menu:checked ~ nav{
	margin: 0;
	margin-top: -2px;

}
	}
	@media(max-width: 250px){
		nav{
			width: 100%;
			margin-left: -350px;
		}
		.btn-menu:checked ~ nav{
			margin: 0;
			margin-top: -9px;
		
		}
		header label.btn-menu {
			display: block;
			margin-top: -60px;
		}
			}













 /* body{
  color: #2b2b2b;
  font-family: museo-sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  margin:0px;
  padding: 0px;
}
.conten{
  width: 80%;
}

.hidden{
   display: none;
}
.container-menu label{
display: none;

  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.container-menu label:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);

}
.menu ul{
  flex-direction: row;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;

}
.menu li{
 
  display:block;
  padding: 15px 20px;
  color: #2b2b2b;
  text-decoration: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.menu li:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3)
}


.select-cohorts{
  margin: 0% auto;
  height:3em ;
  border-radius:10px;
  border-color: #F2F3F4 ;
  line-height: 145%;
  background-color: #FBFCFC  ;   
} 
.container-profiles-users{
  width: 100%;
}
.div-user{
  float: left;
  background-color: #EBF5FB;
  width: 160px;
  height: 150px;
  border-style: none;
  
  color: #2b2b2b;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 10px;
  float: left;
}

@media(max-width: 728px){
  .container-menu label {
    display: block;
  }
  .menu{
    position:fixed;
    background: #FFE521;
    width: 40%;
    height: 100%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul{
  flex-direction: column;
  }
 .menu li{
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .btn-menu:checked ~ .menu{
    margin: 0;
  }

  

}  */
