*{
	margin:0px;
	padding: 0px;  
} 
/* estilos header */
h1{
	font-family: 'Bitter', serif;
  text-align: center;
  font-size: 3em;
  /* padding-top: 10%; */
}
header{
  background-color: white;
  background-image: url("laboratoria-logo.png");
  background-size: 230px ;
  background-repeat: no-repeat;
	background-position: 50% ;
  display: block;
	width: 100%;
	position: fixed;
	height: 70px;
  box-sizing: border-box;	
  border-bottom: 3px solid #FFE521; 
}
.titles{
  font-family: 'Bitter', serif;
}
/* clase para elementos q estaran ocultos */
.hidden{
	display: none;
 }
 /* estilos para el contenedor de selectores */
.form-selectores{
  display: block;
	height: 200px;
  background-color: rgba(0,0,100,0);
  text-align: center;
	padding-top: 15%;
}
.container-select	{
	height: 60px;
	display: block;
	width: 100%;
}
/* estilos al selector de orden */
.select-cohorts, #select-order {
	margin: 0% auto;
	height: 30px;
	width: 50%;
	border-radius:10px;
	border-color: #F2F3F4 ;
	line-height: 145%;
	background-color: rgba(0,100,0,0);
	border: 1px solid #FF009E;
  }
	
/* estilos al buscador de esytudiantes */
input#search{
	width:40%;
	height:40px;
	border-radius: 10px;
	background-color:#FF009E;
	/* margin: 10px; */
	outline: none;
	border: 0px;
	color: white;
	/* font-size: 1.2em; */
	text-align: right;
	padding-right:15px;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	-webkit-transition: background-position .2s;
}
input#search:focus{
	background-position: 3000px 15px;
}
::-webkit-input-placeholder{
	color: #2b2b2b;
	text-align: right;
	opacity: 2.5;
}
 #search:hover{
	opacity: 1.;
	background-color: rgba(0,0,0,0.3);
} 
/* estilos para el contenedor de los divs de ususarios */
  .container-profiles-users{
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  /* flex: 4; */
	
	}
	/* divs ususarios */
  .div-user{
	
	background-color: #56F89A;
	width: 15%;
	height: 150px;
	border-style: none;
	border-radius: 6px ;
  color: #2b2b2b;
	margin: 5px 25px;
	padding: 5px 8px;
  box-sizing: border-box;
  font-size: 15px;
  float: left;	
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
	 @media(max-width: 1100px){
		.form-selectores{
      height: 220px;
      padding-top: 20% 
    }
    .div-user{
      width: 25%;
    }
	 }
  @media(max-width: 730px){
  .form-selectores{
padding-top: 20%;
  }
}
	@media(max-width: 450px){
 h1{
   font-size: 2em;
 }
 .form-selectores{
   padding-top: 35%;
 }
 .select-cohorts, #select-order,  #search{
   width: 100%;
 }
  input#search{
    width: 95%;
  }
  
	}
	@media(max-width: 670px){
    .div-user{
    width: 35%;
  }
  }
  @media(max-width: 450px){
  .div-user{
  width: 100%;
  display: block;
  padding: 0;
  margin: 10px 0px;
  }
  }