body{
  color: #2b2b2b;
  font-family: museo-sans, Roboto, "Helvetica Neue", Arial, sans-serif;
}
header{
  text-align: center;
  background-color: #ffc107;
  padding: 5px; 
  margin: 10px;
  background-color :#ffc107;

}
.listStudents,.listProgress {
 float: left;
}
.hidden{
   display: none;
}
.list-students{
 padding: 2px;
 margin: 2px;
 top: 15px;
}
#response-container{
 padding: 20px 2px 50px 2px;
}
.search-students{
 padding: 10px 9px 5px 9px;
}
#enter-name{
   width: 115px;
   padding: 5px;
}